@import "tailwindcss";

body {
    font-family: var(--font-bricolage-grotesque);
}

.h1 {
    font-family: var(--font-bricolage-grotesque);
    font-size: 52px;
    font-weight: bold;
    line-height: 120%;
}

.h2 {
    font-family: var(--font-bricolage-grotesque);
    font-size: 28px;
    font-weight: bold;
    line-height: 120%;
}

.label {
    font-family: var(--font-bricolage-grotesque);
    font-size: 18px;
    font-weight: medium;
    line-height: 120%;
}

.text {
    font-family: var(--font-bricolage-grotesque);
    font-size: 14px;
    font-weight: medium;
    line-height: 120%;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b4a66 #2a293f;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2a293f;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #636182;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7c7a9e;
}